$primary-color: #004269;
$primary-color-blur: #0079bf;
$bg-broad-color: #ebecf0;
$bg-task-color: #ffffff;
$border-broad: 4px;

$width-broad: 300px;



html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-size: 16px;
}

.App {
  display: grid;
  grid-template-rows: 40px 50px 1fr;
  height: 100vh;
  background-color: $primary-color-blur;
  overflow-x: scroll;
  overflow-y: hidden;

  &::-webkit-scrollbar {
    height: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 4px;
  }

  .header-container {
    background-color: $primary-color;
  }
  .tasks-container {

  }
  .broad-container {
    display: flex;
    // overflow-y: auto;
    
    .broad {
      width: $width-broad;
      margin: 10px 10px 20px;

      > * {
        padding: 8px;
        margin: 0;
      }

      .title-broad {
        background-color: $bg-broad-color;
        border-top-left-radius: $border-broad;
        border-top-right-radius: $border-broad;

        h3 {
          margin: 0;
          padding: 0 10px;
        }
      }

      ul {
        background-color: $bg-broad-color;
        list-style-type: none;
        overflow-y: scroll;
        max-height: calc(100vh - 220px);

        &::-webkit-scrollbar {
          width: 5px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #999;
          border-radius: 4px;
        }

        li {
          padding: 10px;
          background-color: $bg-task-color;
          margin-bottom: 6px;
          box-shadow: 0 1px 0 #091e4240;
          border-radius: 4px;

          img {
            // width: calc(300px - 16px - 20px);
            width: 100%;
          }

          p {

          }
        }
        li:nth-last-child() {
          margin-bottom: 0;
        }
      }

      .footer-broad {
        background-color: $bg-broad-color;
        border-bottom-left-radius: $border-broad;
        border-bottom-right-radius: $border-broad;

        button {
          background-color: unset;
          outline: none;
          border: none;
        }
      }
    }
  }
}
