@import "_setting.scss";

.board-container {
  display: flex;
  margin: 0 10px 10px;
  overflow-x: scroll;
  overflow-y: hidden;

  &::-webkit-scrollbar {
    height: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba($color: #fff, $alpha: 0.30);
    border-radius: 4px;
  }
  .column-drop-preview {
    background-color: rgba(150, 150, 200, 0.1);
    border: 1px dashed #abc;
    margin: 5px 45px 5px 5px;
  }

  .add-new-column {
    background-color: #ffffff3d;
    border-radius: 4px;
    height: 42px;
    line-height: 42px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    flex: 0 0 auto;
    width: $width-board;
    margin: 5px 10px 0px;
    font-weight: 500;

    i {
      padding: 0 5px 0 12px;
    }
    &:hover {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  div.enter-new-column {
    background-color: $bg-board-color;
    width: $width-board;
    flex: 0 0 auto;
    border-radius: 4px;
    font-size: 16px;
    margin: 5px 10px 0px;
    padding: 0 10px;

    input.input-enter-new-column {
      margin: 6px 0px;
      padding: 0 10px;
      height: 36px;
    }
    button.button-add-new-column {
      margin-bottom: 6px;
      height: 32px;
      width: 40%;
      background-color: $primary-color-blur;
    }
  }
}