@import "_setting.scss";

.broad-container {
  display: flex;
  margin: 0 10px 10px;
  overflow-x: scroll;
  overflow-y: hidden;

  &::-webkit-scrollbar {
    height: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba($color: #fff, $alpha: 0.30);
    border-radius: 4px;
  }
  .column-drop-preview {
    background-color: rgba(150, 150, 200, 0.1);
    border: 1px dashed #abc;
    margin: 5px 45px 5px 5px;
  }
  .add-new-column {
    background-color: #ffffff3d;
    height: 46px;
    border-radius: 4px;
    line-height: 46px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    flex: 0 0 auto;
    width: $width-broad;
    margin: 5px 10px 30px;
    font-weight: 500;

    i {
      padding: 0 5px 0 12px;
    }
    &:hover {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }
}